PORT=5000
MONGODB_URI=mongodb+srv://malanibhikeshbtech2023_db_user:M72BiliCtoiYVwQb@document-intake-cluster.7ww1dcn.mongodb.net/?appName=document-intake-cluster
GEMINI_API_KEY=AQ.Ab8RN6I3DxGHAeGQPPe2Fhj203sZBDtD7onGltG3c9LsyegOsQ
GROQ_API_KEY=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
LLM_PROVIDER=groq
